<div class="foot_div">
  <div class="link_home">
    <div class="linklogo"></div>
    <a class="linktxt" href="/{{ page.lang }}/" title="Home page">Home</a>
  </div>
  <div class="link_resume">
    <div class="linklogo"></div>
    <a class="linktxt" href="/{{ page.lang }}/resume" title="Contact page">Contact</a>
  </div>
  <div class="link_privacy">
    <div class="linklogo"></div>
    <a class="linktxt" href="/{{ page.lang }}/privacy" title="Privacy Policy page">Privacy Policy</a>
  </div>
</div>