<nav class="navigationWrapper">
  <a href="/{{ page.lang }}/" class="site_logo" title="Return to Home Page">
    <div class="logoWrapper">
        <span class="stylish">kema</span>
        <span class="logo">dev</span>
    </div>
  </a>
  <ul class="navigation">
    <li class="parent"><a class="link" href="/{{ page.lang }}/" title="Home page">Home</a></li>
    <li class="parent"><a class="link" href="/{{ page.lang }}/resume" title="Contact page">Contact</a></li>
    <li class="parent"><a class="link" href="/{{ page.lang }}/privacy" title="Privacy Policy page">Privacy</a></li>
  </ul>
</nav>
