<nav class="navigationWrapper">
  <a href="/" class="site_logo" title="Return to Home Page">
    <div class="logoWrapper">
        <span class="stylish">kema</span>
        <span class="logo">dev</span>
    </div>
  </a>
  <ul class="navigation">
    <li class="parent"><a class="link" href="/" title="Home page">Home</a></li>
    <li class="parent"><a class="link" href="/resume" title="Resume page">Resume</a></li>
    <li class="parent"><a class="link" href="/privacy" title="Privacy Policy page">Privacy</a></li>
  </ul>
</nav>
