.foot_ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  .foot_ul {
    grid-auto-flow: column;
  }
}

.link_resume {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
  background: url("../img/address-book-solid_white.svg") no-repeat;
  background-size: contain;
  color: #fefefe;

  &:hover {
    background: url("../img/address-book-solid_blue.svg") no-repeat;
    background-size: contain;
    font-weight: 600;
    color: #2b83f7f6;
  }

  .linklogo {
    position: relative;
    width: 2rem;
  }

  .linktxt {
    position: relative;
    margin-left: 2.5rem;
    color: inherit;
  }
}

.link_privacy {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
  background: url("../img/user-shield-solid_white.svg") no-repeat;
  background-size: contain;
  color: #fefefe;

  &:hover {
    background: url("../img/user-shield-solid_blue.svg") no-repeat;
    background-size: contain;
    font-weight: 600;
    color: #2b83f7f6;
  }

  .linklogo {
    position: relative;
    width: 2rem;
  }

  .linktxt {
    position: relative;
    margin-left: 2.5rem;
    color: inherit;
  }
}

.link_home {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
  background: url("../img/house-solid_white.svg") no-repeat;
  background-size: contain;
  color: #fefefe;

  &:hover {
    background: url("../img/house-solid_blue.svg") no-repeat;
    background-size: contain;
    font-weight: 600;
    color: #2b83f7f6;
  }

  .linklogo {
    position: relative;
    width: 2rem;
  }

  .linktxt {
    position: relative;
    margin-left: 2.5rem;
    color: inherit;
  }
}

.foot_div {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  margin-top: 3rem;
  height: 10rem;
}