@keyframes bounce {
  0% {
    -moz-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    -webkit-transform: translateY(-2vh);
    transform: rotate(90deg) translateX(-2vh);
  }
  30% {
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    transform: rotate(90deg) translateX(0vh);
  }
	80% {
    -moz-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    -webkit-transform: translateY(-2vh);
    transform: rotate(90deg) translateX(-2vh);
  }
	100% {
    -moz-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    -webkit-transform: translateY(-2vh);
    transform: rotate(90deg) translateX(-2vh);
  }
}

.home {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	top: 3rem;
	width: 100%;
	.title_logo {
		height: 12rem;
		margin-bottom: 3vh;
		transition: height 1s ease;
	}
	.top {
		transition: height 2s ease;
		height: 100%;
		position: relative;
		width: 100%;
		background-image: url('../img/data_flow_2_full_grayed.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		.hint {
			transition: height 2s ease;
			width: 100%;
			.hint_img {
				transition: height 2s ease;
				position: absolute;
				width: 100%;
				bottom: 10%;
				left: 50%;
				z-index: 1;
				max-width: 2rem;
				filter: opacity(0.75) drop-shadow(0 0 1rem rgb(230, 197, 10));
				animation: bounce 2.5s ease-in-out infinite;
			}
		}
	}
	.top-inside {
		transition: height 2s ease;
		height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fefefe;
		top: 0;
		left: 0;
		width: 100%;
		font-size: 6rem;
	}
	.subtitle {
		font: 1.5rem 'JetBrainsMono-Regular';
	}
	.artitle {
		display: flex;
		align-items: center;
		justify-content: center;
		font: 2.5rem 'JetBrainsMono-Bold';
		margin: 2.5rem;
	}
	.imgtxt {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 8vmin;
		font: 2rem 'JetBrainsMono-Regular';
	}
	.img {
		display: flex;
		position: relative;
		min-width: 25vw;
		max-width: 45vw;
		object-fit: contain;
		align-items: center;
		justify-content: center;
		z-index: -1;
	}
	.txt {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		max-width: 45vw;
		margin-left: 4vw;
		height: auto;
		h4 {
			font-size: 2rem;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 1rem;
		}
	}
	.link_linkedin {
		transition: all 0.3s ease-in-out;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		margin-top: 1rem;
		display: inline-block;
		background: url("../img/linkedin-brands.svg") no-repeat;
		background-size: contain;
		color: black;
		width: fit-content;
		&:hover {
			background: url("../img/linkedin-brands_blue.svg") no-repeat;
			background-size: contain;
			transform: translateX(1rem);
			font-family: 'JetBrainsMono-Bold';
			color: #2b83f7f6;
		}
		.linklogo {
			position: relative;
			width: 2rem;
		}
		.linktxt {
			position: relative;
			margin-left: 2.5rem;
			color: inherit;
		}
	}
	.link_cv {
		transition: all 0.3s ease-in-out;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		margin-top: 1rem;
		display: inline-block;
		background: url("../img/file-lines-solid.svg") no-repeat;
		background-size: contain;
		color: black;
		width: fit-content;
		&:hover {
			background: url("../img/file-lines-solid_blue.svg") no-repeat;
			background-size: contain;
			transform: translateX(1rem);
			font-family: 'JetBrainsMono-Bold';
			color: #2b83f7f6;
		}
		.linklogo {
			position: relative;
			width: 2rem;
		}
		.linktxt {
			position: relative;
			margin-left: 2.5rem;
			color: inherit;
		}
	}
	.link_info {
		transition: all 0.3s ease-in-out;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: inline-block;
		background: url("../img/circle-info-solid.svg") no-repeat;
		background-size: contain;
		color: black;
		width: fit-content;
		&:hover {
			background: url("../img/circle-info-solid_blue.svg") no-repeat;
			background-size: contain;
			transform: translateX(1rem);
			font-family: 'JetBrainsMono-Bold';
			color: #2b83f7f6;
		}
		.linklogo {
			position: relative;
			width: 2rem;
		}
		.linktxt {
			position: relative;
			margin-left: 2.5rem;
			color: inherit;
		}
	}
	.link_git {
		transition: all 0.3s ease-in-out;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: inline-block;
		background: url("../img/code-branch-solid.svg") no-repeat;
		background-size: contain;
		color: black;
		width: fit-content;
		&:hover {
			background: url("../img/code-branch-solid_blue.svg") no-repeat;
			background-size: contain;
			transform: translateX(1rem);
			font-family: 'JetBrainsMono-Bold';
			color: #2b83f7f6;
		}
		.linklogo {
			position: relative;
			width: 2rem;
		}
		.linktxt {
			position: relative;
			margin-left: 2.5rem;
			color: inherit;
		}
	}
	.quote_etzioni {
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		display: inline-block;
		background: url("../img/laptop-code-solid.svg") no-repeat;
		background-size: 2rem;
		max-width: 45vw;
		.quotelogo {
			width: 2rem;
		}
		.citation {
			position: relative;
			margin: 0;
			margin-top: 0.2rem;
			margin-left: 2.5rem;
			color: inherit;
			font-style: italic;
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
		}
	}
	.quote_snowden {
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		display: inline-block;
		background: url("../img/user-secret-solid.svg") no-repeat;
		background-size: 2rem;
		.quotelogo {
			width: 2rem;
		}
		.citation {
			position: relative;
			margin: 0;
			margin-top: 0.2rem;
			margin-left: 2.5rem;
			color: inherit;
			font-style: italic;
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
		}
	}
	.quote_torvalds {
		flex-direction: row;
		justify-content: left;
		align-items: center;
		font-size: 1.5rem;
		display: inline-block;
		background: url("../img/linux-brands.svg") no-repeat;
		background-size: 2rem;
		margin-top: 1.5rem;
		.quotelogo {
			width: 2rem;
		}
		.citation {
			position: relative;
			margin: 0;
			margin-top: 0.2rem;
			margin-left: 2.5rem;
			color: inherit;
			font-style: italic;
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
		}
	}
}

.sep1 {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80vmin;
	margin: 0;
	background-image: url('../img/42_lyon_full.jpg');
	background-position: 50% 50%;
	background-size: cover;
	z-index: -1;
}

.sep2 {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80vmin;
	margin: 0;
	background-image: url('../img/wise_choices_full.jpg');
	background-position: 50% 50%;
	background-size: cover;
	z-index: -1;
}

.sep3 {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80vmin;
	margin: 0;
	background-image: url('../img/links_technology_full.jpg');
	background-position: 50% 50%;
	background-size: cover;
	z-index: -1;
}

.sep4 {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80vmin;
	margin: 0;
	background-image: url('../img/sharing_ideas.png');
	background-position: 50% 50%;
	background-size: cover;
	z-index: -1;
}
