html {
  width: 100%;
  scrollbar-width: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "JetBrainsMono-Regular", sans-serif;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background-color: #fefefe(45, 100%, 99%);
}

@font-face {
	font-family: 'JetBrainsMono-Regular';
	src: url(/assets/font/JetBrainsMono/JetBrainsMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url(/assets/font/JetBrainsMono/JetBrainsMono-Bold.ttf) format('truetype');
}
