html {
  width: 100%;
  scrollbar-width: none;
}

body {
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe(45, 100%, 99%);
}
