.navigationWrapper {
  position: fixed;
	top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: #fefefe;
  text-transform: uppercase;
  overflow: hidden;
  height: 3rem;
  width: 100%;
  z-index: 1;

  .logo {
    height: 2rem;
    margin-left: 2rem;
  }

  .site_logo {
    color: #fefefe;
    text-decoration: none;
  }

  .logoWrapper {
    display: flex;

    .stylish {
      font: 1.5rem 'JetBrainsMono-Bold';
			margin-left: 2rem;
    }

    .logo {
      padding-left: 4px;
      color: #2b83f7f6;
			font-size: 1rem;
      font-style: italic;
    }
  }

  .navigation {
    display: flex;
    list-style-type: none;
		margin-right: 2rem;

    .parent {
      padding: 0 10px;
      cursor: pointer;
      
      .flag_uk {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 1rem;
        transform: scaleX(0.8);
        border: #adadad solid 1px;
      }

      .flag_fr {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 1rem;
        border: #adadad solid 1px;
      }

      .link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        color: #fefefe;

        &:hover {
          color: #2b83f7f6;
        }
      }
    }
  }
}