.resume {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 3rem;
	width: 100%;
	.title_logo {
		height: 15vh;
		margin-bottom: 3vh;
	}
	.top {
		position: relative;
		width: 100%;
		height: 35vmin;
		background-image: url('../img/data_flow_2_full_grayed.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: -1;
	}
	.top-inside {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fefefe;
		top: 0;
		left: 0;
		width: 100%;
		height: 35vmin;
		font: 2rem 'JetBrainsMono-BoldItalic', sans-serif;
	}
	.subtitle {
		font:  1.5rem 'JetBrainsMono-Regular', sans-serif;
	}
	.title {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		font: 2rem 'JetBrainsMono-Regular', sans-serif;
		font-family: 'JetBrainsMono-Bold';
		font-size: 2.5rem;
	}
	.page {
		.heading {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			font: 2rem 'JetBrainsMono-Regular', sans-serif;
			font-family: 'JetBrainsMono-Bold';
			font-size: 2.5rem;
			margin: 2.5rem;
		}
	}
}

.pdf {
	width: 100vmin;
	height: 150vmin;
	.fallback {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font: 2rem 'JetBrainsMono-Regular', sans-serif;
		font-family: 'JetBrainsMono-Bold';
		a {
			color: #2b83f7f6;
			&:hover {
				color: #2b83f7f6;
			}
		}
	}
}