<div class="foot_div">
  <a href="/{{ page.lang }}/"  class="link_home">
    <div class="linklogo"></div>
    <div class="linktxt" title="Page d'accueil">Accueil</div>
  </a>
  <a href="/{{ page.lang }}/resume" class="link_resume">
    <div href="/{{ page.lang }}/resume" class="linklogo"></div>
    <div class="linktxt" title="Page de Ccntact">Contact</div>
  </a>
  <a href="/{{ page.lang }}/privacy" class="link_privacy">
    <div class="linklogo"></div>
    <div class="linktxt" title="Page de politique de confidentialité">Politique de confidentialité</div>
  </a>
</div>